@model FavoriteMovies.Models.Movie

<html>
    
    <head>
        
        <meta charset='utf-8'>
        <title>Movie Details</title>
    </head>
    <body>
        <div class = movie_Details>
        <h1>Welcome to the Favorite Movie collector Details Page</h1>
        
        <h2>Title is @Model.Title</h2>
        <h2>Starring @Model.Actor</h2>
        <img src = @Model.Poster alt ="movie poster" >
        <p>Is this the correct movie?</p>
        <a href="/index" class="btn btn-danger">No</a>
        <form asp-action="AddMovie" asp-controller="Movie" method = "post">
            <input type="hidden" asp-for="Title" value="@Model.Title">
            <input type="hidden" asp-for="Actor" value="@Model.Actor">
            <input type="hidden" asp-for="Director" value="@Model.Director">
            <input type="hidden" asp-for="Plot" value="@Model.Plot">
            <input type="hidden" asp-for="Released" value="@Model.Released">
            <input type="hidden" asp-for="Director" value="@Model.Director">
            <input type="hidden" asp-for="Rating" value="@Model.Rating">
            <input type="hidden" asp-for="Genre" value="@Model.Genre">
            <input type="hidden" asp-for="Poster" value="@Model.Poster">
            <input type="submit" value="Yes" class="btn btn-success">
            </form>
        </div>


    </body>